menu "App Diagnostics settings"
    config KEEP_ALIVE_INTERVAL_MINUTES
        int "Keep alive MQTT interval in minutes"
        default 1
        help
            Amount of minutes between a MQTT keep alive message.
    config LOGGING_INTERVAL_MINUTES
        int "Logging MQTT interval in minutes"
        default 10
        help
            Amount of minutes between a MQTT logging message.
    config MEAS_INTERVAL_SECONDS
        int "Measurement interval in seconds"
        default 1
        help
            Amount of seconds current en voltage of RS485-bus is measured
    config PRINT_ERROR_MESSAGE
        bool "Print error messages in terminal: handy for debugging"
        default y
        help
            This allows you to print or skip error message printing in terminal.
    config CURRENT_UPPER_LIMIT
        int "upperlimit of current towards RS485-bus in tousands of an Amp (mA)"
        default 3000
        help
            upperlimit of the current
    config CURRENT_LOWER_LIMIT
        int "lowerlimit of current towards RS485-bus in tousands of an Amp (mA)"
        default 100
        help
            lowerlimit of the current
    config VOLTAGE_UPPER_LIMIT
        int "upperlimit of voltage on RS485-bus in tousands of a V (mV)"
        default 12500
        help
            upperlimit of the voltage
    config VOLTAGE_LOWER_LIMIT
        int "lowerlimit of voltage on RS485-bus in tousands of a V (mV)"
        default 9000
        help
            lowerlimit of the voltage    
endmenu